<nav class="navbar">
    <a href="index.html" class="navbar-logo">
        <img src="assets/OT.png" alt="Logo">
    </a>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="navbar-links">
        <li><a href="index.html" class="navbar-link">Accueil</a></li>
        <li><a href="products.html" class="navbar-link">Produits</a></li>
        <li><a href="#" class="navbar-link">Nouveautés</a></li>
        <li><a href="contact.html" class="navbar-link">Contact</a></li>
        <li>
            <div class="search-container">
                <img src="assets/search.svg" class="search-icon" alt="Rechercher">
                <input type="text" class="search-input" placeholder="Rechercher...">
            </div>
        </li>
    </ul>
</nav>